.card {
  width: 300px;
  overflow: hidden;
  cursor: pointer;
}

.card-modal {
  width: 500px;
}

.card-img {
  height: 200px;
  background-position: center;
  background-size: cover;
}

.card-additional-info {
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  padding: 0 1rem;
}
